PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioReportes/Reportes3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PictionaryMusicalServidor.Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PictionaryMusicalServidor.Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReporteJugadorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioReportado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioReportante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteJugadorDTO" nillable="true" type="tns:ReporteJugadorDTO" />
  <xs:complexType name="ResultadoOperacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionExitosa" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacionDTO" nillable="true" type="tns:ResultadoOperacionDTO" />
</xs:schema>