PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioClasificacion/Clasificacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.83.41.1:8511/Pictionary/Clasificacion?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PictionaryMusicalServidor.Servicios.Contratos.DTOs" />
  <xs:element name="ObtenerTopJugadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTopJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PictionaryMusicalServidor.Servicios.Contratos.DTOs" minOccurs="0" name="ObtenerTopJugadoresResult" nillable="true" type="q1:ArrayOfClasificacionUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>