PictionaryMusicalCliente/Connected Services/PictionaryServidorServicioCursoPartida/CursoPartida43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PictionaryMusicalServidor.Servicios.Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PictionaryMusicalServidor.Servicios.Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.71:8523/Pictionary/CursoPartida?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SuscripcionJugadorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdJugador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuscripcionJugadorDTO" nillable="true" type="tns:SuscripcionJugadorDTO" />
  <xs:complexType name="TrazoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorHex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsBorrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsLimpiarTodo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Grosor" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PuntosX" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PuntosY" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrazoDTO" nillable="true" type="tns:TrazoDTO" />
  <xs:complexType name="RondaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCancion" type="xs:int" />
      <xs:element minOccurs="0" name="NombreDibujante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PistaArtista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PistaGenero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoSegundos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RondaDTO" nillable="true" type="tns:RondaDTO" />
  <xs:complexType name="ResultadoPartidaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="tns:ArrayOfClasificacionUsuarioDTO" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoPartidaDTO" nillable="true" type="tns:ResultadoPartidaDTO" />
  <xs:complexType name="ArrayOfClasificacionUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClasificacionUsuarioDTO" nillable="true" type="tns:ClasificacionUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClasificacionUsuarioDTO" nillable="true" type="tns:ArrayOfClasificacionUsuarioDTO" />
  <xs:complexType name="ClasificacionUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Puntos" type="xs:int" />
      <xs:element minOccurs="0" name="RondasGanadas" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClasificacionUsuarioDTO" nillable="true" type="tns:ClasificacionUsuarioDTO" />
</xs:schema>